#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
	background: url(../img/saturn.png) 400px 0 no-repeat, url(../img/stars.png) 0 0 repeat-x #000;
}

#hud {
	margin-left: 0; /* account for Mars being on the left */
}

#stars {
	background: url(../img/stars-wide.gif) 0 0 repeat;
	top: 100px;
}

#far-mountains {
    bottom: 10%;
    height: 40%;
	width: 10000px;
    background: url(img/mountains.png) bottom left repeat-x;
}

#near-mountains {
    bottom: 10%;
    height: 30%;
	min-height: 134px;
	width: 20000px;
	background: url(img/midlands.png) bottom left repeat-x;
}

#ground {
    position: absolute;
    bottom: 0;
    width: 1400%;
    height: 10%;
    background: url(img/ground.png) top left repeat-x;
}
.konami #game-container {
	background: url(../img/saturn.png) 400px 0 no-repeat, url(../img/stars.png) 0 0 repeat-x, linear-gradient(to bottom, #000 0%, #000 100px, #24f 100%);
}
