body {
	background-color: #000;
	margin: 0;
	font-family: sans-serif;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
body.debug .obstacle {
	background: red;
	opacity: .5;
	border: 1px solid white;
	box-sizing: border-box;
}
body.debug .missile {border: 1px solid #FFF;}
body.debug .missile span {border: 1px solid #0FF;}
body::-webkit-scrollbar, #ground::-webkit-scrollbar, #cam::-webkit-scrollbar {
	display: none;
}
body#gamemenu {
	background: #111;
	font-family: 'Black Ops One', sans-serif;
	font-weight: 200;
}
p {
	font-size: 1em;
}
#ground {
	transition: all 67ms linear;
}


#logo {
	display: inline-block;
	transform: scaleX(-1);
}
header {
	display: table;
	text-align: center;
}
header h1 {
	font-family: 'Black Ops One', sans-serif;
	color: #0f0;
	text-shadow: 0 0 100px #090;
	text-transform: uppercase;
	font-size: 4em;
	text-align: center;
	font-weight: 400;
	font-style: normal;
	display: table-cell;
	width: 100%;
	text-indent: -92px;
	vertical-align: middle;
}
.game-container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
}
.game {
	width: 50%;
	margin: 20px;
	background: #BCD;
	border-radius: 10px;
}
.game:hover {
	background: #88A;
}
.game:hover p {
	color: #000;
}
.game img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.game p {
	font-size: 25px;
	display: block;
	padding: 0 20px;
	color: #000;
	font-size: 2em;
	font-family: sans-serif;
}
.game a {
	text-decoration: none;
	display: block;
}
.game-container img {
	max-width: 100%;
}



#overlay {
	background: rgba(0, 0, 0, 0.8);
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
}
#overlay.active {
	display: block;
	animation-name: fadeIn;
	animation-duration: 2000ms;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#overlaytext {
	position: absolute;
	left: 50%;
	margin-left: -25%;
	width: 50%;
	margin-top: 50px;
	color: #000;
	background: #EEE;
	padding: 20px;
	border-radius: 10px;
	z-index: 6;
	animation-name: fadeIn;
	animation-duration: 2000ms;
	text-align: center;
}
#lowerMessage {
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin: 0 0 25px -40%;
	padding: 15px;
	border-radius: 50px;
	background: rgba(0, 0, 0, 0.7);
	color: #FFF;
	text-align: center;
	font-size: 2em;
	width: 80%;
	line-height: 45px;
	z-index: 6;
}
button, a.button {
	background: none;
	color: #FFF;
	font-size: .8em;
	border: 2px solid #FFF;
	padding: 10px 15px;
	margin: 0 15px;
	border-radius: 7px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-family: 'Black Ops One', sans-serif;
}
button:hover, a.button:hover {
	background: #0f0;
	color: #000;
	border-color: #000;
	cursor: pointer;
}
#overlaytext h2 {
	font-family: 'Black Ops One', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
}
#overlaytext .button {
	color: #000;
	border-color: #000;
	font-size: 25px;
}




#cam {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	transition: all 67ms linear;
	position: relative;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.warhawk {
	width: 50px;
	height: 70px;
	background-position: center;
	transition: all 67ms linear;
	position: absolute;
	border: 0px solid blue;
	z-index: 1;
}
.warhawk::before {
	content: " ";
	width: 120px;
	height: 110px;
	margin: -15px 0 0 -45px;
	display: block;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.warhawk.right::before {
	background-image: url(warhawk-standing.gif);
	transform: rotate(-17deg);
}
.warhawk.right.walk::before {
	background-image: url(warhawk-walking-h.gif);
	transform: rotate(-17deg);
}

.warhawk.left::before {
	background-image: url(warhawk-standing.gif);
	transform: scaleX(-1) rotate(-17deg);
}
.warhawk.left.walk::before {
	background-image: url(warhawk-walking-h.gif);
	transform: scaleX(-1) rotate(-17deg);
}

.warhawk.down::before {
	background-image: url(warhawk-standing-down.gif);
}
.warhawk.down.walk::before {
	background-image: url(warhawk-walking-down.gif);
}

.warhawk.up::before {
	background-image: url(warhawk-standing-up.png);
}
.warhawk.up.walk::before {
	background-image: url(warhawk-walking-up.gif);
}
.warhawk.destroyed {
	z-index: 3;
}
.warhawk.destroyed::before, .warhawk.dead::before {
	background-image: url(warhawk-destroyed.png);
}
.warhawk.destroyed::after {
	content: " ";
	display: block;
	width: 165px;
	height: 200px;
	margin: -146px 0 0 -63px;
	background-image: url(destroyed-explosion.gif);
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 2;
	position: relative;
	animation-name: explosionDissipation2;
    animation-duration: 4000ms;
}
.warhawk.dead::after {
	display: none;
}


.atlas {
	width: 50px;
	height: 70px;
	background-position: center;
	transition: all 50ms linear;
	position: absolute;
	border: 0px solid blue;
	z-index: 1;
}
.atlas::before {
	content: " ";
	width: 150px;
	height: 150px;
	margin: -53px 0 0 -45px;
	display: block;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.atlas.right::before {
	background-image: url(img/atlas-stand.gif);
	transform: scaleX(-1) rotate(5deg);
}
.atlas.right.walk::before {
	background-image: url(img/atlas-walk.gif);
	transform: scaleX(-1) rotate(5deg);
}

.atlas.left::before {
	background-image: url(img/atlas-stand.gif);
}

.atlas.left.walk::before {
	background-image: url(img/atlas-walk.gif);
}

.atlas.down::before {
	background-image: url(img/atlas-stand-down.gif);
}
.atlas.down.walk::before {
	background-image: url(img/atlas-walk-down.gif);
}

.atlas.up::before {
	background-image: url(img/atlas-stand-up.gif);
}
.atlas.up.walk::before {
	background-image: url(img/atlas-walk-up.gif);
}
.atlas.destroyed {
	z-index: 3;
}
.atlas.destroyed::before, .atlas.dead::before {
	background-image: url(img/atlas-destroyed.gif);
}
.atlas.destroyed.up::before, .atlas.destroyed.down::before {
	background-image: url(img/atlas-destroyed-v.png);
}
.atlas.destroyed::after {
	content: " ";
	display: block;
	width: 165px;
	height: 200px;
	margin: -146px 0 0 -63px;
	background-image: url(destroyed-explosion.gif);
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 2;
	position: relative;
	animation-name: explosionDissipation2;
    animation-duration: 4000ms;
}
.atlas.dead::after {
	display: none;
}


.obstacle {
	position: absolute;
}
.tree {
	z-index: 2;
}
.tree1 {
	position: absolute;
	width: 80px;
	height: 80px;
}
.tree2 {
	position: absolute;
	width: 75px;
	height: 75px;
}
.tree1::before {
	background: url(img/tree1.png) 0 0 no-repeat;
}
.tree2::before {
	background: url(img/tree2.png) 0 0 no-repeat;
}
.tree::before {
	position: absolute;
	content: " ";
	display: block;
	width: 132px;
	height: 205px;
	margin: -110px 0 0 0;
}
.tree1.destroyed::before {
	background-image: url(img/tree1-destroyed.png);
}
.tree2.destroyed::before {
	background-image: url(img/tree2-destroyed.png);
}
.tree.destroyed::after {
	position: absolute;
	content: " ";
	display: block;
	background: url(destroyed-explosion.gif) 0 0 no-repeat;
	width: 200px;
	height: 200px;
	margin: -80px 0 0 -50px;
}
.tree.dead::after {
	background-image: none;
}

.enemy {
	position: absolute;
}
.turret {
	position: absolute;
	background: url(turret-up-left.png) center center no-repeat;
	background-size: contain;
	width: 99px;
	height: 87px;
}
.turret.top.left {
	background-image: url(turret-up-left.png);
}
.turret.top.right {
	background-image: url(turret-up-right.png);
}
.turret.bottom.left {
	background-image: url(turret-down-left.png);
}
.turret.bottom.right {
	background-image: url(turret-down-right.png);
}
.turret.destroyed {
	background-image: url(turret-destroyed.png) !important;
}
.turret.destroyed::before {
	content: " ";
	background-image: url(destroyed-explosion.gif);
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: -52px;
	width: 200px;
	height: 200px;
}
.turret.destroyed.dead::before {
	background-image: none;
}




.tank {
	position: absolute;
	width: 100px;
	height: 100px;
	transition: all 100ms linear;
}
.tank::before {
	content: " ";
	display: block;
	width: 100px;
	height: 100px;
	background: url(img/tank.png) center center no-repeat;
	background-size: contain;
	position: absolute;
}
.tank.up::before {
	background-image: url(img/tank-up.png);
}
.tank.down::before {
	background-image: url(img/tank-down.png);
}
.tank.left::before {
	background-image: url(img/tank.png);
	transform: scaleX(-1);
}
.tank.right::before {
	background-image: url(img/tank.png);
}
.tank.left.destroyed::before, .tank.right.destroyed::before {
	background-image: url(img/tank-destroyed.png);
}
.tank.down.destroyed::before, .tank.up.destroyed::before {
	background-image: url(img/tank-destroyed-v.png);
}
.tank.destroyed::after {
	content: " ";
	background-image: url(destroyed-explosion.gif);
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: -52px;
	width: 200px;
	height: 200px;
}
.tank.destroyed.dead::after {
	background-image: none;
}

.b52 {
	background: url(img/b52.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	width: 350px;
	height: 279px;
	transform: scaleX(-1);
	transition: all 100ms linear;
	z-index: 3;
	margin-top: 700px;
}
.b52::before {
	content: " ";
	background: url(img/b52-shadow.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	width: 350px;
	height: 279px;
	margin: 350px 0 0 -300px;
	opacity: .5;
	z-index: 0;
}
.b52.left {
	transform: scaleX(-1);
	transform: none;
}
.b52.left::before {
	margin: 350px 0 0 300px;
}




.tankArea {
	position: absolute;
	z-index: 0;
}
.debug .tankArea {
	background-color: rgba(253, 0, 253, 0.5);
}





.erppc {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background: url(erppc.gif) 0 0 no-repeat;
	background-size: contain;
	z-index: 2;
}
.erppc.explosion {
	background: none;
}
.erppc.explosion::before {
	content: " ";
	display: block;
	width: 60px;
	height: 120px;
	margin: -60px 0 0 -15px;
	background: url(explosion.gif) 0 0 no-repeat;
	background-size: contain;
}
.erppc.explosion.fade::before {
	animation-name: explosionDissipation;
    animation-duration: 1000ms;
}

.missile {
	transition: all 30ms linear;
	position: absolute;
	width: 15px;
	height: 15px;
	z-index: 2;
}
.missile span {
	content: " ";
	transition: all 30ms linear;
	position: absolute;
	width: 75px;
	height: 75px;
	background: url(missile.gif) center center no-repeat;
	background-size: contain;
	margin: -32.5px;
}
.missile.explosion span {
	content: " ";
	display: block;
	width: 60px;
	height: 120px;
	margin: -60px 0 0 -15px;
	background: url(explosion.gif) 0 0 no-repeat;
	background-size: contain;
	transform: rotate(0deg) !important;
}
.missile.explosion.fade span {
	animation-name: explosionDissipation;
    animation-duration: 1000ms;
}


.laser {
	transition: all 30ms linear;
	position: absolute;
	width: 15px;
	height: 15px;
	z-index: 1;
}
.laser span {
	content: " ";
	transition: all 30ms linear;
	position: absolute;
	width: 5px;
	height: 50px;
	background: #FFF;
	background-size: contain;
	margin: -32.5px;
	animation-name: laserExpanding;
    animation-duration: 2500ms;
	box-shadow: 0 0px 13px 6px #F00;
	border: 2px solid #F00;
	border-radius: 5px;
}
.laser span::before {
	content: " ";
	position: absolute;
	width: 125px;
	height: 125px;
	background: #F00;
	border-radius: 125px;
	margin: -36px 0px 0 -57px;
	opacity: 0;
	animation-name: laserPulse;
	animation-duration: 300ms;
}
.laser.explosion span {
	display: none;
}
.laser.explosion::after {
	background: url(explosion.gif) transparent 0 0 no-repeat;
	content: " ";
	display: block;
	width: 60px;
	height: 120px;
	margin: -60px 0 0 -15px;
	background-size: contain;
	transform: rotate(0deg) !important;
	box-shadow: none;
	border: none;
	animation-name: none;
	animation-duration: 0ms;
}
.laser.explosion.fade  {
	animation-name: explosionDissipation;
    animation-duration: 1000ms;
}



@keyframes laserPulse {
	0% {
		opacity: 1;
		width: 1px;
		height: 1px;
		margin: 24px 0px 0 1px;
	}
	50% {
		opacity: 0.3;
		width: 60px;
		height: 60px;
		margin: -6px 0px 0 -28px;
	}
	100% {
		opacity: 0;
		width: 120px;
		height: 120px;
		margin: -60px 0 0 -15px;
	}
}
@keyframes quickFadeIn {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes laserExpanding {
	from {
		height: 5px;
	}
	to {
		height: 50px;
	}
}

@keyframes explosionDissipation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		display: none;
		opacity: 0;
	}
}

@keyframes explosionDissipation2 {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		display: none;
		opacity: 0;
	}
}

#stats {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.2);
	color: #FFF;
	z-index: 2;
}
#life {
	float: right;
	margin: 10px;
}
#life span#barometer {
	display: block;
	width: 100px;
	height: 6px;
	background: #666;
	border-radius: 3px;
}
#life span#life-tracking {
	display: block;
	width: 100%;
	height: 6px;
	background: #f00;
	border-radius: 3px;
}


.touch {
	display: block;
}
body.touchEnabled #lowerMessage {
	margin-bottom: 100px;
}
#touch-controls {
	background: url(dpad.png) center center no-repeat;
	z-index: 4;
	position: fixed;
	width: 222px;
	height: 222px;
	bottom: 0;
	left: 0;
	margin: 0 0 50px 50px;
}
#touch-controls.touch {
	z-index: 4;
}
.debug #touch-left, .debug #touch-right, .debug #touch-up, .debug #touch-down {
	background: #F00;
	opacity: 0.5;
}
#touch-left {
	position: absolute;
	bottom: 69px;
	width: 90px;
	height: 85px;
}
#touch-right {
	position: absolute;
	bottom: 70px;
	left: 134px;
	width: 90px;
	height: 85px;
}
#touch-up {
	position: absolute;
	bottom: 150px;
	left: 67px;
	width: 90px;
	height: 85px;
}
#touch-down {
	position: absolute;
	bottom: -10px;
	left: 65px;
	width: 90px;
	height: 85px;
}
#touch-left.pressing, #touch-right.pressing {
	border-left-color: #55F;
	border-right-color: #55F;
}

#touch-fire {
	position: fixed;
	z-index: 4;
	background: #dbe0de;
	border-radius: 100px;
	right: 25px;
	bottom: 55px;
	width: 200px;
	height: 200px;
}



@media all and (max-width:1279px) {
	header {
		display: block;
	}
	#logo {
		display: block;
		margin: 0 auto;
	}
	header h1 {
		text-indent: 0;
		display: inline;
		font-size: 2em;
	}
}

@media all and (max-width:768px) {
	.game-container {
		display: block;
	}
	.game {
		width: auto;
		display: block;
		padding: 0 0 1px;
	}
	.game img {
		max-width: 100%;
	}
	.game p {
		margin-left: 0;
		margin-right: 0;
	}
	.textonly {
		padding-top: 10px;
	}
}








